@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:root {
  --font: 'Kumbh Sans', sans-serif;
  --timer: "Varela Round", sans-serif;
  --foreground: #000;
  --background: #fff;
  --accent: #ad5b5d;
  --bg: url("assets/backgrounds/floral.jpg");
  --logo: url("assets/logos/logo-light.png");
}

body {
  height: 100vh; width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  margin: 0; padding: 0;
  background: var(--bg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: var(--font);
  color: var(--foreground);
}

.logo {
  background: var(--logo);
  background-size: 100% auto;
  height: min(90px, 30%);
  aspect-ratio: 100 / 43;
  margin-top: 30px;
}

.mode-selector {
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 5px;
  margin-top: 30px;
  border-radius: 50vh;
  background-color: color-mix(in srgb, var(--accent), transparent 60%);
  padding: 5px;
  justify-content: space-around;
}

input[type="radio"] {
  display: none;
}

.mode-label {
  cursor: pointer;
  user-select: none;
  padding: 10px 30px;
  color: var(--foreground);
  background-color: transparent;
  position: relative;
  z-index: 2;
  transition: color 0.4s ease;
}

.mode-background {
  position: absolute;
  top: 5px;
  left: 5px;
  height: calc(100% - 10px);
  width: calc(33.33% - 10px);
  background-color: var(--accent);
  border-radius: 50vh;
  transition: transform 0.4s ease; 
  z-index: 1;
}

input[type="radio"]:checked + .mode-label {
  color: var(--background); 
}

input[type="radio"]#pomodoro:checked ~ .mode-background {
  transform: translateX(0); 
}

input[type="radio"]#short-break:checked ~ .mode-background {
  transform: translateX(107%);
}

input[type="radio"]#long-break:checked ~ .mode-background {
  transform: translateX(214%);
}

.timer-display {
  font-family: var(--timer);
  font-size: 6em;
  margin: 20px;
  margin-top: 80px;
  color: var(--foreground);
}

.button-container {
  display: flex;
  gap: 30px;
  margin-top: 50px;
}

.button-container button {
  padding: 10px 20px;
  font-size: 1em;
  background-color: var(--accent);
  color: var(--background);
  border: none;
  border-radius: 50vh;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: var(--font);
}

.button-container button:hover {
  background-color: color-mix(in srgb, var(--accent), black 20%);
}

.button-container button:disabled {
  background-color: grey;
  cursor: not-allowed;
  opacity: 0.6;
}

@media only screen and (max-width: 600px) {
  .mode-label {
    margin-left: -6px;
  }
}